body {
  height: 200em;
  background-color: #fff;
  font-size: 2.1vw;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

form {
  margin: 10px auto;
  /* max-width: 400px; */
  padding: 20px 12px 10px 20px;
}

#form {
  background-color: #5cdb95;
  max-width: 50%;
  display: block;
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 25px;
  margin-top: 5vh;
}

ul {
  padding: 1em;
  list-style: none;
  margin: 0 auto;
  /* border: 2px solid black; */
  width: 80%;
}

ul li {
  display: block;
  margin: 0 auto;
  /* position: relative;
  left: -5%; */
  /* border: 2px solid black; */
  width: 100%;
  /* text-align: center; */
}

form input[type="text"],
textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #379683;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}

form input[type="text"]:focus,
form textarea:focus {
  -moz-box-shadow: 0 0 8px #c94b3a;
  -webkit-box-shadow: 0 0 8px #c94b3a;
  box-shadow: 0 0 8px #c94b3a;
  border: 1px solid #c94b3a;
}

form {
  width: 49%;
}

form input[type="submit"] {
  background: #32553f;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}

form input[type="submit"]:hover {
  background: #4691a4;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.checkboxTrue {
  background-color: red;
  height: 1.25em;
  border-radius: 30%;
}

.checkboxFalse {
  background-color: white;
  height: 10px;
}
